# WARNING: This is a special config file that should not be edited by the user.
# Any settings listed in this file will be absolute and not modifiable by user settings.
# This is to prevent the use of settings that are incompatible with VR.
# Ignoring this and removing/editing lines in this file will either have no effect or break your game.

[Camera]
# N/A
preview if stand still = false
# N/A
head bobbing = false

[GUI]
# Tooltip delay is reset every time the cursor budges.
# A human cannot hold a pointer that stable, so tooltip must be instant
tooltip delay = 0

# These do not play well with VR
scaling factor = 1.0  
stretch menu background = false
hit fader = false
werewolf overlay = false
keyboard navigation = true

[HUD]
# N/A
crosshair = false

[Game]
# N/A
best attack = false
# Motion sickness factory
smooth movement = false

[Video]
# No point making the mirror texture full screen
fullscreen = false
# OpenXR must be in control of frames
vsync = false
framerate limit = 0
# Other modes not compatible
screenshot type = regular

[Stereo]
# VR must have stereo enabled
stereo enabled = true

[Shaders]
# VR must have shaders enabled
force shaders = true

[Windows]
stats pin = false
stats maximized = true
spells pin = false
spells maximized = true
map pin = false
map maximized = true
inventory pin = false
inventory maximized = true
inventory container maximized = true
inventory barter maximized = true
inventory companion maximized = true
dialogue maximized = true
alchemy maximized = true
console maximized = true
container maximized = true
barter maximized = true
companion maximized = true
settings maximized = true
postprocessor maximized = true
debug maximized = true

stats maximized x = 0.0
stats maximized y = 0.0
stats maximized w = 0.8
stats maximized h = 0.8
spells maximized x = 0.0
spells maximized y = 0.0
spells maximized w = 0.8
spells maximized h = 0.8
map maximized x = 0.0
map maximized y = 0.0
map maximized w = 0.8
map maximized h = 0.8
inventory maximized x = 0.0
inventory maximized y = 0.0
inventory maximized w = 0.8
inventory maximized h = 0.8
inventory container maximized x = 0.0
inventory container maximized y = 0.0
inventory container maximized w = 0.8
inventory container maximized h = 0.8
inventory barter maximized x = 0.0
inventory barter maximized y = 0.0
inventory barter maximized w = 0.8
inventory barter maximized h = 0.8
inventory companion maximized x = 0.0
inventory companion maximized y = 0.0
inventory companion maximized w = 0.8
inventory companion maximized h = 0.8
dialogue maximized x = 0.0
dialogue maximized y = 0.0
dialogue maximized w = 0.7
dialogue maximized h = 0.5
alchemy maximized x = 0.0
alchemy maximized y = 0.0
alchemy maximized w = 0.8
alchemy maximized h = 0.8
console maximized x = 0.0
console maximized y = 0.0
console maximized w = 0.8
console maximized h = 0.8
container maximized x = 0.0
container maximized y = 0.0
container maximized w = 0.8
container maximized h = 0.8
barter maximized x = 0.0
barter maximized y = 0.0
barter maximized w = 0.8
barter maximized h = 0.8
companion maximized x = 0.0
companion maximized y = 0.0
companion maximized w = 0.8
companion maximized h = 0.8
settings maximized x = 0.0
settings maximized y = 0.0
settings maximized w = 0.99
settings maximized h = 0.8
postprocessor maximized x = 0.0
postprocessor maximized y = 0.0
postprocessor maximized w = 0.8
postprocessor maximized h = 0.8
debug maximized x = 0.0
debug maximized y = 0.0
debug maximized w = 0.8
debug maximized h = 0.8
